@model AbstractRepairOrderServiceDAL.BindingModel.RepairBindingModel

@{
    ViewBag.Title = "CreateRepair";
}

<h2>CreateRepair</h2>

@using (Html.BeginForm("CreateRepairPost", "Repair", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RepairBindingModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RepairName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepairName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepairName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepairPlumbings, htmlAttributes: new { @class = "control-label col-md-2" })
            <p>
                @Html.ActionLink("Add", "AddPlumbing")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RepairPlumbings[0].PlumbingName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RepairPlumbings[0].Count)
                    </th>
                </tr>

                @foreach (var item in Model.RepairPlumbings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlumbingName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td></td>
                    </tr>
                }

            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexRepair")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}